*{
   margin: 0;
}
body{
    background-color: #f2f2f2;
}
ul{
    list-style: none;
    padding: 0;
}
#header{
    width: 100%;
}
header{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    
}
header>ul{    
    width: 180px;
    height: 30px;
    margin-top: 30px;
    padding: 0;
    list-style: none;
    float: right;
}
header>ul>li{   
    float: left;
    text-align: center;
    width:60px;
    height: 30px;
}
#nav_main{ 
    display: none;
}
#nav_main1{ 
    list-style: none;
    height: 110px;
    width: 80px;
    box-shadow: 2px 2px 5px #cccccc;
    transition: all 5s;
    transform: translateX(-10px) scale(1,1);    
    transform-origin: 50% 0%;
    background: #ccc;
    padding: 0;
}
#nav_main>li{ 
    width: 80px;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
    text-align: center;
}
#logo{
    width: 80px;
    height: 80px;
    float: left;
}
#logo>p{
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    font-family: "方正舒体";

}
/* 主体 */
#main{
    width: 980px;
    margin: 0 auto;
    padding: 0;
    margin-top: 30px;
}
#main-left{
    width: 200px;
    float: left;
}
#main-right{
    width: 778px;
    height: 900px;
    float: left;
    background: white;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
}